.App {
  text-align: center;
  width: 95%;
  margin: 15px auto;
  height: 150rem;
}

.draggable {
  /* width: 100px;
  height: 100px; */
  /* height: 3rem; */
  /* background-color: yellow;
  margin: 10px; 
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center; */
}
.font {
  font-size: 1.2rem;
}
.cutomeDIv {
  background-color: red;
  width: 5rem;
  height: 5rem;
}
.draggableConatiner {
  /* background-color: red; */
  border: 2px solid red;
  /* display: flex;
  justify-items: flex-start;
  justify-content: flex-start; */
  flex-wrap: wrap;
}
.draggableConatiner_outer {
  border: 12px solid green;
  width: 90vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* display: flex;
  height: 20rem;
  width: 50vw; */
  /* justify-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap; */
}
.outerDivContainer {
  /* margin: 2rem auto;
  width: 80%; */
}
.anticon {
  font-size: 2.5rem;
}
.layoutConatiner{
  margin-top: 7rem;
}