.container1,
.container2 {
  /* background: blue;
  width: 350px;
  height: 350px;
  margin-bottom: 20px;
  position: relative;
  position: relative;
  display: inline-block;
  margin:3rem; */
}

.inline {
  /* position: absolute; */
  /* color: white; */
  /* font-size: 3.3rem; */
}
/* .kk{
  position: relative;
} */

.rel{
  position: relative;
}
.abs{
  position: absolute;
}